{% extends 'base.html'%} {% load static %} {% block content %}  
   
<div class="background-white">
    <div id="profile" class="container">
        <h2>Profile</h2>
        <p class="lead">I'm a creative webdeveloper</p>

        <hr>
        <div id = "profile">
        <img id="mukaku" src="{% static 'story4/images/mukaku.jpg' %}"alt="" width="246" height="246" style="margin: auto;">
        </div>

        <div class="row">
            <div class="col-md-4">
                <h3>About me</h3>
                <p>
                    im a student of University of Indonesia. I love to playing video games  , futsal, and also basketball, i like about business stuff. </p>
            </div>
            <div class="col-md-4">
                <h3>Details</h3>
                <p>
                    <strong>Name:</strong><br> Muhammad Rafli Amardito<br>
                    <strong>Age:</strong><br> 19 years<br>
                    <strong>Location:</strong><br> Jakarta, Indonesia, Earth <br>
                    <strong>NPM:</strong><br> 1906307523
                </p>
            </div>
        </div>
    </div>
{% endblock %}