body{
    background-image: radial-gradient(circle,#c41414d5, #000000e3);
    color: white;
} 

#header {
    background-color: #0e34afde;
    color: white;
    text-align: center;
    padding: 5px;
}

#main{
    width:600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(11, 17, 78, 0.5);
    align:center;
}

#profile{
    color: white;
    text-align: center;
}

#footer {
    clear:both;
    padding:10px;
    text-align: center;
    background-color: #1c12b1;
    color:white;
}
#socmed{
    text-align: center;
    color:white;
}
.sospli{
    height: auto;
    width:5%;
}
