<!DOCTYPE html>
{% load static %}
 <html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>HOME-STORY 3</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'story4/fix.css' %}">
    
</head>

<body id="top">

    <div id="header-content">
    
        <nav class="row header-nav-wrap">
            <ul class="header-nav">
                <li><a class="smoothscroll"  href="{% url 'story4:homeku' %}" title="">Home</a></li>
                <li><a class="smoothscroll"  href="{% url 'story4:about' %}" title="">Profile</a></li>
                <li><a class="smoothscroll"  href="{% url 'story4:experiences' %}" title="">Experiences</a></li>
                <li><a class="smoothscroll"  href="{% url 'story4:abilities' %}" title="">Abilities</a></li>
                <li><a href="{% url 'story4:Hobby' %}" title="">Hobby&Interest</a></li>
                <li><a href="{% url 'story1:index' %}" title="">My Another Website</a></li>
                <li><a href="https://story6-pli.herokuapp.com/" title="">Activity</a> 
                <a href="{% url 'story5:liat_jadwal' %}">JadwalKu</a  
            </ul>
        </nav>
    </div>
    {% block content %} {% endblock %}
    <div id="footer">
        Copyright &copy; 2020 M. Rafli Amardito.
    </div>
</body>

</html>